@model NhapKhoListViewModel
@{
    ViewData["Title"] = "Nhập Kho";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                @*<a class="btn btn-outline-info" asp-action="Create"><i class="fas fa-plus"></i>&nbsp; Thêm Mới</a>*@
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Nhập kho</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-search text-info"></i> Tìm Kiếm</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <form id="frmSearch" asp-action="List" method="get" autocomplete="off">

                <div class="container" style="height:110px; background-color: aliceblue;">
                    @* we will add search criteria *@

                    <div class="col-12">
                        <div class="row" style="padding-top: 10px;">

                            <div class="col-2">
                                Từ Ngày
                            </div>
                            <div class="col-3">
                                <input name="searchFromDate" class="form-control maskInput datepicker" />
                            </div>

                            <div class="col-2">

                            </div>

                            <div class="col-2">
                                Đến Ngày
                            </div>
                            <div class="col-3">
                                @*@Html.Editor("searchDate", new { htmlAttributes = new { @class = "form-control maskInput", @id = "datepicker" } })*@
                                <input name="searchToDate" class="form-control maskInput datepicker" />
                            </div>

                        </div>
                    </div>

                    <div class="col-12">
                        <div class="row" style="padding-top: 10px;">

                            <div class="col-2">
                            </div>
                            <div class="col-3">
                            </div>

                            <div class="col-2">

                            </div>

                            <div class="col-2">
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-primary form-control" name="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-list-alt text-info"></i> Danh Sách Thiết Bị Trong Kho</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <div>
                <table class="table table-striped border" id="listAll">
                    <thead>
                        <tr class="table-info">
                            <th>

                                <form method="get" asp-action="LiquidateList" id="frmLiquidateAll">


                                    @*<a asp-action="ExportList" asp-controller="BanGiaos" id="btnExportAll"><i class="fas fa-file-word"></i></a>*@
                                    <input type="hidden" name="stringId" id="stringId" />
                                    <div class="btn-group">
                                        <button title="Thanh Ly" type="button" class="text-primary btn btn-outline-dark btn-sm" id="btnLiquidateAll"><i class="fas fa-baby-carriage"></i></button>
                                        <button title="Xóa" type="button" class="text-primary btn btn-outline-danger btn-sm" id="btnDeleteAll"><i class="fas fa-trash-alt"></i></button>

                                    </div>
                                   

                                </form>
                            </th>
                            <th>@Html.DisplayNameFor(m => m.NhapKhos.FirstOrDefault().TenThietBi)</th>
                            <th>@Html.DisplayNameFor(m => m.NhapKhos.FirstOrDefault().NguoiSuDung)</th>
                            <th>@Html.DisplayNameFor(m => m.NhapKhos.FirstOrDefault().KhoVanPhong)</th>
                            <th>@Html.DisplayNameFor(m => m.NhapKhos.FirstOrDefault().ThanhLy)</th>
                            <th>@Html.DisplayNameFor(m => m.NhapKhos.FirstOrDefault().NgayNhapKho)</th>
                            <th>@Html.DisplayNameFor(m => m.NhapKhos.FirstOrDefault().NguoiNhapKho)</th>
                            <th>#</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.NhapKhos.Count() != 0)
                        {
                            @foreach (var item in Model.NhapKhos)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" class="ckId" data-id="@item.Id" />
                                    </td>
                                    <td>@Html.DisplayFor(m => item.TenThietBi)</td>
                                    <td>@Html.DisplayFor(m => item.NguoiSuDung)</td>
                                    <td>@Html.DisplayFor(m => item.KhoVanPhong)</td>
                                    <td>
                                        @if (item.ThanhLy)
                                        {
                                            <span class="badge badge-warning">Đã thanh lý</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-info">Chưa thanh lý</span>
                                        }
                                    </td>
                                    <td>@Html.Raw(item.NgayNhapKho.Value.ToShortDateString())</td>
                                    <td>@Html.DisplayFor(m => item.NguoiNhapKho)</td>
                                    <td>
                                        <div class="btn-group text-white" role="group">

                                            @*<a class="btn btn-success btn-sm" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-list"></i></a>*@
                                            <button type="button" class="btn btn-secondary btnDetail" data-id="@item.Id" data-toggle="modal" @*data-target="#detailModal"*@>
                                                <i class="fas fa-list"></i>
                                            </button>

                                            <partial name="~/Views/Shared/_NhapKhoDetailModal.cshtml" />


                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="8">
                                    <span> <strong> Không có dữ liệu trong bảng</strong></span>
                                </td>
                            </tr>
                        }

                    </tbody>
                    @*<tfoot>
                        <tr>
                            <th>#</th>
                            <th>@Html.DisplayNameFor(m => m.NhapKhos.FirstOrDefault().NguoiSuDung)</th>
                            <th>@Html.DisplayNameFor(m => m.NhapKhos.FirstOrDefault().KhoVanPhong)</th>
                            <th>@Html.DisplayNameFor(m => m.NhapKhos.FirstOrDefault().TenThietBi)</th>
                            <th>@Html.DisplayNameFor(m => m.NhapKhos.FirstOrDefault().ThanhLy)</th>
                            <th>@Html.DisplayNameFor(m => m.NhapKhos.FirstOrDefault().NgayNhapKho)</th>
                            <th>@Html.DisplayNameFor(m => m.NhapKhos.FirstOrDefault().NguoiNhapKho)</th>
                            <th>#</th>
                        </tr>
                    </tfoot>*@
                </table>
            </div>

        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->




@section Scripts{
    <script>

        $(function () {
            $(".datepicker").datepicker({
                dateFormat: 'dd/mm/yy'
            });

            $('#listAll').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
            });
        });
    </script>
    <script src="~/js/Admin/NhapKho/indexController.js"></script>
}

