@model CaiDatViewModel
@using QLTB.Extensions

@{
    ViewData["Title"] = "Details";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Xem Chi Tiết</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a asp-route-id="@Model.BanGiao.Id" asp-route-strUrl="@Model.strUrl" asp-action="Index">Danh Sách Cài Đặt</a></li>
                    <li class="breadcrumb-item active">Chi Tiết Cài Đặt - @Model.BanGiao.NguoiNhan</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-list text-info"></i> Chi Tiết Cài Đặt - @Model.BanGiao.NguoiNhan</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <div class="p-4 border rounded">

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="CaiDat.PhanMemId"></label>
                    </div>
                    <div class="col-4">
                        <select class="form-control" asp-for="CaiDat.PhanMemId" asp-items="@Model.PhanMems.ToSelectListItem(Model.CaiDat.PhanMemId)" disabled></select>
                    </div>

                    <div class="col-2">
                        <label asp-for="CaiDat.DonGia"></label>
                    </div>
                    <div class="col-4">
                        <input type="number" asp-for="CaiDat.DonGia" class="form-control" readonly />
                    </div>


                </div>

                @*<div class="form-group row">

        </div>*@

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="CaiDat.ThoiGianSuDung"></label>
                    </div>
                    <div class="col-4">
                        <input type="text" asp-for="CaiDat.ThoiGianSuDung" class="form-control maskInput" id="datepicker" readonly />
                    </div>

                    <div class="col-2">
                        <label asp-for="CaiDat.GhiChu"></label>
                    </div>
                    <div class="col-4">
                        <textarea asp-for="CaiDat.GhiChu" class="form-control" readonly></textarea>
                    </div>
                </div>

                @*<div class="form-group row">

        </div>*@

                <div class="form-group row">

                    <div class="col-2">
                        <label asp-for="CaiDat.TinhTrang"></label>
                    </div>
                    <div class="col-4">
                        <input type="checkbox" asp-for="CaiDat.TinhTrang" disabled />
                    </div>

                    <div class="col-2">
                        <label asp-for="CaiDat.DienGiai"></label>
                    </div>
                    <div class="col-4">
                        <textarea class="form-control" asp-for="CaiDat.DienGiai" readonly></textarea>
                    </div>
                </div>

                @*<div class="form-group row">

        </div>*@

                <div class="form-group">
                    @*<button type="submit" asp-route-banGiaoId="@Model.BanGiao.Id" class="btn btn-primary"><i class="fas fa-save"></i></button>*@
                    <a class="btn btn-primary" asp-route-banGiaoId="@Model.BanGiao.Id" asp-route-id="@Model.CaiDat.Id" asp-route-strUrl="@Model.strUrl" asp-action="Edit"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-success" asp-route-id="@Model.BanGiao.Id" asp-route-strUrl="@Model.strUrl" asp-action="Index"><i class="fas fa-backward"></i></a>
                </div>
            </div>

        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->


