@model ChiNhanh
@{
    ViewData["Title"] = "Details";
}



<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Xem Chi Tiết</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Danh Sách Chi Nhánh</a></li>
                    <li class="breadcrumb-item active">Chi Tiết Chi Nhánh - @Model.Name</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-list text-info"></i> Chi Tiết Chi Nhánh - @Model.Name</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">


            <div class="p-4 border rounded">

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="MaChiNhanh"></label>
                    </div>
                    <div class="col-5">
                        <input class="form-control" readonly asp-for="MaChiNhanh" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-5">
                        <input class="form-control" readonly asp-for="Name" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="DiaChi"></label>
                    </div>
                    <div class="col-5">
                        <input class="form-control" readonly asp-for="DiaChi" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="DienThoai"></label>
                    </div>
                    <div class="col-5">
                        <input class="form-control" readonly asp-for="DienThoai" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-2">
                        <label asp-for="KhuVuc"></label>
                    </div>
                    <div class="col-5">
                        <select class="form-control" asp-for="@Model.KhuVuc" asp-items="@(new SelectList(ViewBag.Roles,"Name","Name"))" disabled> </select>
                    </div>
                    <span class="text-danger" asp-validation-for="KhuVuc"></span>
                </div>

                <div class="form-group">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit"></i></a>
                    <a class="btn btn-success" asp-action="Index"><i class="fas fa-backward"></i></a>
                </div>
            </div>


        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

