@model ChiTietBanGiaoIndexViewModel

@{
    ViewData["Title"] = "Index";
    var a = string.IsNullOrEmpty(Model.BanGiao.NguoiNhan) ? "Nguoi Nhan" : Model.BanGiao.NguoiNhan;

}



<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <a class="btn btn-outline-info" asp-action="Create" asp-route-banGiaoId="@Model.BanGiao.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-plus"></i>&nbsp; Thêm Mới</a>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Chi Tiết Bàn Giao - @a</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-list-alt text-info"></i> Danh Sách Chi Tiết Bàn Giao - @a</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">

            <div>
                <table class="table table-striped border">
                    <tr class="table-info">
                        <th>

                            <form method="get" asp-action="ExportList" id="frmExportAll">


                                @*<a asp-action="ExportList" asp-controller="BanGiaos" id="btnExportAll"><i class="fas fa-file-word"></i></a>*@
                                <input type="hidden" name="stringId" id="stringId" />
                                <button type="button" class="text-primary btn btn-outline-light btn-sm" id="btnExportAll"><i class="fas fa-file-word"></i> Xuất</button>

                            </form>
                        </th>
                        <th>@Html.DisplayNameFor(m => m.ChiTietBanGiaos.FirstOrDefault().BanGiao.NguoiLap)</th>
                        <th>@Html.DisplayNameFor(m => m.ChiTietBanGiaos.FirstOrDefault().BanGiao.NguoiNhan)</th>
                        <th>@Html.DisplayNameFor(m => m.ChiTietBanGiaos.FirstOrDefault().ThietBiId)</th>
                        <th>@Html.DisplayNameFor(m => m.ChiTietBanGiaos.FirstOrDefault().SoLuong)</th>
                        <th>@Html.DisplayNameFor(m => m.ChiTietBanGiaos.FirstOrDefault().BaoHanhDen)</th>
                        <th>@Html.DisplayNameFor(m => m.ChiTietBanGiaos.FirstOrDefault().TinhTrang)</th>
                        <th></th>


                    </tr>

                    @foreach (var item in Model.ChiTietBanGiaos)
                    {
                        <tr class="chiTietRow" data-move="@item.ChuyenSuDung">
                            <td>
                                <input type="checkbox" class="ckId" data-id="@item.Id" />
                                @*<button type="button" class="btn btn-primary btnMove" title="Chuyển"><i class="fas fa-arrows-alt"></i></button>*@
                                <div class="btn-group">
                                    <a asp-action="MoveToEmployee" data-move="@item.ChuyenSuDung" asp-route-ctbgId="@item.Id" asp-route-strUrl="@Model.StrUrl" class="btn btn-outline-secondary btn-sm btnMove" title="Chuyển NV Khác">
                                        <i class="fas fa-arrows-alt"></i>
                                    </a>
                                    <a asp-action="MoveToWareHouse" data-move="@item.ChuyenSuDung" asp-route-ctbgId="@item.Id" asp-route-strUrl="@Model.StrUrl" class="btn btn-outline-secondary btn-sm btnMove" title="Chuyển Vào Kho">
                                        <i class="fas fa-warehouse"></i>
                                    </a>
                                </div>

                                @*<div class="modal fade" id="moveModal" style="display: none;" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content bg-secondary">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Chuyển ?</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    @item.Id

                                                    <a asp-action="MoveToWareHouse" asp-controller="NhapKhos" asp-route-id="@item.Id" class="btn btn-outline-light float-right" id="btnWareHouse">Chuyển vào kho</a>
                                                </div>
                                                <div class="modal-footer justify-content-between">
                                                    <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>

                                                </div>
                                            </div>

                                        </div>

                                    </div>*@

                            </td>
                            <td>@Html.DisplayFor(m => item.BanGiao.NguoiLap)</td>
                            <td>@Html.DisplayFor(m => item.BanGiao.NguoiNhan)</td>
                            <td>@Html.DisplayFor(m => item.ThietBi.Name)</td>
                            <td>@Html.DisplayFor(m => item.SoLuong)</td>
                            <td>
                                @*@if (item.BaoHanhDen != null)
        { @Html.Raw(item.BaoHanhDen.Value.ToString());
                                @((item.BaoHanhDen.HasValue) ? (( item.BaoHanhDen.Value.ToString())) : "")*@
                                @if (item.BaoHanhDen.HasValue)
                                {
                                    @Html.Raw(item.BaoHanhDen.Value.ToShortDateString())
                                }
                               
                            </td>
                            <td>
                                @if (item.TinhTrang)
                                {
                                    <span class="badge badge-success text-white">Đang Sử Dụng</span>
                                }
                                else
                                {
                                    <span class="badge badge-warning text-white">Không còn Sử Dụng</span>
                                }
                            </td>

                            @*<partial name="_TableButtonPartial"  model="item.Id">*@
                            <td style="width:150px;">
                                <div class="btn-group text-white" role="group">
                                    <a data-move="@item.ChuyenSuDung" class="btn btn-primary btn-sm btnEdit" asp-action="Edit" asp-route-banGiaoId="@Model.BanGiao.Id" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-edit"></i></a>
                                    @*<a class="btn btn-success" href="@url"><i class="fas fa-list"></i></a>*@
                                    <a class="btn btn-success btn-sm" asp-action="Details" asp-route-banGiaoId="@Model.BanGiao.Id" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-list"></i></a>
                                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-banGiaoId="@Model.BanGiao.Id" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </td>

                        </tr>
                        @* secondary modal *@


                    }
                </table>
            </div>
            <div>
                <a class="btn btn-success" href="@Model.StrUrl"><i class="fas fa-backward"></i></a>
            </div>

        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

@section Scripts{
    <script src="~/js/Admin/ChiTietBanGiao/indexController.js"></script>




}