@model ChiTietBanGiaoViewModel
@using QLTB.Extensions

@{
    ViewData["Title"] = "MoveToEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm Mới</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a asp-route-strUrl="@Model.strUrl" asp-route-id="@Model.BanGiao.Id" asp-action="Index">Danh Sách Chi Tiết</a></li>
                    <li class="breadcrumb-item active">Chuyển vào NV khác</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<form method="post" autocomplete="off">
    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-file text-info"></i> Thêm Mới Bàn Giao</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">



                <div class="p-4 border rounded">

                    <input type="hidden" asp-for="@Model.strUrl" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="BanGiao.NguoiLap"></label>
                        </div>
                        <div class="col-4">
                            <input class="form-control" asp-for="BanGiao.NguoiLap" />
                        </div>
                        <span class="text-danger" asp-validation-for="BanGiao.NguoiLap"></span>

                        <div class="col-2">
                            <label asp-for="BanGiao.NguoiNhan"></label>
                        </div>
                        <div class="col-4">
                            <select class="form-control" asp-for="BanGiao.NguoiNhan" asp-items="@Model.NhanViens.ToSelectListItemString(Model.BanGiao.NguoiNhan)"></select>
                        </div>
                        <span class="text-danger" asp-validation-for="BanGiao.NguoiNhan"></span>

                    </div>

                    @*<div class="form-group row">

        </div>*@

                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="BanGiao.ChiNhanhId"></label>
                        </div>
                        <div class="col-4">
                            <select asp-for="@Model.BanGiao.ChiNhanhId" asp-items="Model.ChiNhanhs.ToSelectListItem(Model.BanGiao.ChiNhanhId)" class="form-control ddlChiNhanh"></select>
                        </div>

                        <div class="col-2">
                            <label asp-for="BanGiao.VanPhong"></label>
                        </div>
                        <div class="col-4">
                            <select asp-for="BanGiao.VanPhong" class="form-control ddlVanPhong"></select>
                        </div>
                        <span class="text-danger" asp-validation-for="BanGiao.VanPhong"></span>
                    </div>

                    @*<div class="form-group row">

        </div>*@

                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="BanGiao.Khoi"></label>
                        </div>
                        <div class="col-4">
                            <select asp-for="BanGiao.Khoi" class="form-control">
                                <option value="OB">OB</option>
                                <option value="ND">ND</option>
                                <option value="">--None--</option>
                            </select>
                        </div>
                        <span class="text-danger" asp-validation-for="BanGiao.Khoi"></span>

                        <div class="col-2">
                            <label asp-for="BanGiao.PhongBan"></label>
                        </div>
                        <div class="col-4">
                            <input class="form-control" asp-for="BanGiao.PhongBan" />
                        </div>
                        <span class="text-danger" asp-validation-for="BanGiao.PhongBan"></span>
                    </div>

                    @*<div class="form-group row">

        </div>*@

                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="BanGiao.TinhTrang"></label>
                        </div>
                        <div class="col-4">
                            <input type="checkbox" asp-for="BanGiao.TinhTrang" />
                        </div>

                        <div class="col-2">
                            <label asp-for="BanGiao.LoaiThietBi"></label>
                        </div>
                        <div class="col-4">
                            <select asp-for="BanGiao.LoaiThietBi" class="form-control" asp-items="@Model.LoaiThietBis.ToSelectListItemString(Model.BanGiao.LoaiThietBi)"></select>
                        </div>


                    </div>

                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="BanGiao.LyDo"></label>
                        </div>
                        <div class="col-4">
                            <textarea class="form-control" asp-for="BanGiao.LyDo"></textarea>
                        </div>
                        <span class="text-danger" asp-validation-for="BanGiao.LyDo"></span>
                    </div>


                </div>




            </div>
            <!-- /.card-body -->

        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
    @* Chi Tiet Ban Giao *@

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"><i class="fas fa-file text-info"></i> Thêm Mới Chi Tiết</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">

                <input type="hidden" asp-for="Id" />
                <div class="p-4 border rounded">


                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="ChiTietBanGiao.ThietBiId"></label>
                        </div>
                        <div class="col-4">
                            <select class="form-control" asp-for="ChiTietBanGiao.ThietBiId" asp-items="@Model.ThietBis.ToSelectListItem(Model.ChiTietBanGiao.ThietBiId)" ></select>
                        </div>
                        <span class="text-danger" asp-validation-for="ChiTietBanGiao.ThietBiId"></span>

                        <div class="col-2">
                            <label asp-for="ChiTietBanGiao.SoLuong"></label>
                        </div>
                        <div class="col-4">
                            <input type="number" class="form-control" asp-for="ChiTietBanGiao.SoLuong" />
                        </div>
                        <span class="text-danger" asp-validation-for="ChiTietBanGiao.SoLuong"></span>

                    </div>

                    @*<div class="form-group row">

                        </div>*@

                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="ChiTietBanGiao.DonGia"></label>
                        </div>
                        <div class="col-4">
                            <input type="number" asp-for="ChiTietBanGiao.DonGia" class="form-control" />
                        </div>
                        <span class="text-danger" asp-validation-for="ChiTietBanGiao.DonGia"></span>

                        <div class="col-2">
                            <label asp-for="ChiTietBanGiao.BaoHanhDen"></label>
                        </div>
                        <div class="col-4">
                            <input type="text" asp-for="ChiTietBanGiao.BaoHanhDen" class="form-control maskInput" id="datepicker" />
                        </div>
                        <span class="text-danger" asp-validation-for="ChiTietBanGiao.BaoHanhDen"></span>
                    </div>

                    @*<div class="form-group row">

                        </div>*@

                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="ChiTietBanGiao.GhiChu"></label>
                        </div>
                        <div class="col-4">
                            <textarea asp-for="ChiTietBanGiao.GhiChu" class="form-control"></textarea>
                        </div>
                        <span class="text-danger" asp-validation-for="ChiTietBanGiao.GhiChu"></span>

                        <div class="col-2">
                            <label asp-for="ChiTietBanGiao.TinhTrang"></label>
                        </div>
                        <div class="col-4">
                            <input type="checkbox" asp-for="ChiTietBanGiao.TinhTrang" />
                        </div>
                        <span class="text-danger" asp-validation-for="ChiTietBanGiao.TinhTrang"></span>
                    </div>

                    @*<div class="form-group row">

                        </div>*@

                    <div class="form-group row">
                        <div class="col-2">
                            <label asp-for="ChiTietBanGiao.DienGiai"></label>
                        </div>
                        <div class="col-4">
                            <textarea class="form-control" asp-for="ChiTietBanGiao.DienGiai"></textarea>
                        </div>
                        <span class="text-danger" asp-validation-for="ChiTietBanGiao.DienGiai"></span>

                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i></button>
                        <a class="btn btn-success" asp-route-strUrl="@Model.strUrl" asp-route-id="@Model.BanGiao.Id" asp-action="Index"><i class="fas fa-backward"></i></a>
                    </div>
                </div>


            </div>
            <!-- /.card-body -->

        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/Admin/ChiTietBanGiao/moveToEmployeeController.js"></script>
        <script>

            $(function () {
                $("#datepicker").datepicker({
                    dateFormat: 'dd/mm/yy'
                });
            });
        </script>
    }
}

